* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: var(--body-bg-color);
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 10%;
}

:root {
  --white-text: #fff;
  --body-bg-color: #eeeeee;
  --black-text: #000;
  --title-color: #686d76;
  --play-icon-color: rgba(104, 109, 118, 0.7);
  --overlay: rgba(104, 109, 118, 0.4);
  --subtitle-color: #dc5f00;
  --gray-text: #676767;
  --dark-nav-bg: #373a40;
  --gray-bg: #676767;
  --msg-icon: #373a40;
  --input-bg-color: #ffffff;
  --video-bg: rgba(0, 0, 0, 0.5);
}

.btn.dark-btn {
  background-color: var(--dark-nav-bg);
  color: var(--white-text);
  gap: 1rem;
}

.btn.btn-effect {
  position: relative;
  transition: 0.5s;
}
.btn.btn-effect:after {
  content: "»";
  position: absolute;
  opacity: 0;
  right: 0;
  transition: 0.5s;
  top: 1.05rem;
  font-size: 1.4em;
}

.btn.btn-effect:hover {
  padding-right: 2.4rem;
  padding-left: 0.8rem;
}

.btn.btn-effect:hover:after {
  opacity: 1;
  right: 1rem;
}
/*Media queries*/
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }

  .btn {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .btn.btn-effect:after {
    top: 0.6rem;
  }
}
